Repository xmlking/entity-resolution, changes with the labels that .github/labeler.yml gives for each.
All labels: engine, documentation, er, loader, demo, workspace

build(docker): add docker compose for redis
  README.md
Labels: documentation

chore(root): polish
  README.md
  cmd/er/main.go
  docs/redis.md
  go.mod
  infra/benthos/README.md
Labels: documentation, er, workspace

chore(root): polish
  go.sum
  internal/redis/README.md
  internal/redis/db.go
Labels: documentation

fix(entity): adding proto
  Makefile
  README.md
  buf.gen.tag.yaml
  buf.gen.yaml
  buf.work.yaml
  build/.gitkeep
  cmd/er/go.mod
  cmd/er/main.go
  docs/buf.md
  docs/redis.md
  go.sum
  go.work
  go.work.sum
  proto/entityapis/buf.lock
  proto/entityapis/buf.md
  proto/entityapis/buf.yaml
  proto/entityapis/er/schema/entity/v1/entity.proto
  proto/entityapis/er/service/entity/v1/entity_service.proto
  service/entity/go.mod
Labels: documentation, er

fix(entity): adding proto
  docs/er.md
Labels: documentation

docs(vscode): adding vscode config
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  docs/er.md
Labels: documentation

fix(entity): add buf generated code
  .gitignore
  gen/go/er/schema/entity/v1/entity.pb.go
  gen/go/er/schema/entity/v1/entity.pb.validate.go
  gen/go/er/service/entity/v1/entity_service.pb.go
  gen/go/er/service/entity/v1/entity_service.pb.validate.go
  gen/go/er/service/entity/v1/entity_service_grpc.pb.go
  gen/node/er/schema/entity/v1/entity_grpc_pb.js
  gen/node/er/service/entity/v1/entity_service_grpc_pb.js
  gen/ts/er/schema/entity/v1/entity.ts
  gen/ts/er/service/entity/v1/entity_service.client.ts
  gen/ts/er/service/entity/v1/entity_service.ts
  gen/ts/google/protobuf/descriptor.ts
  gen/ts/google/protobuf/duration.ts
  gen/ts/google/protobuf/timestamp.ts
  gen/ts/google/type/date.ts
  gen/ts/google/type/datetime.ts
  gen/ts/google/type/latlng.ts
  gen/ts/validate/validate.ts
Labels: none

fix(entity): add buf generated code
  Makefile
Labels: none

fix(proto): remove gotag
  Makefile
  buf.gen.tag.yaml
  docs/buf.md
  docs/images/goland-buf-watch.png
  docs/images/goland-proto-import.png
  docs/proto.md
  gen/go/er/schema/entity/v1/entity.pb.go
  gen/ts/er/schema/entity/v1/entity.ts
  proto/entityapis/buf.lock
  proto/entityapis/buf.yaml
  proto/entityapis/er/schema/entity/v1/entity.proto
Labels: documentation

fix(proto): add remote buf.build
  README.md
  buf.gen.yaml
  cmd/er/main.go
  docs/buf.md
  gen/go/er/schema/entity/v1/entity.pb.go
  gen/go/er/schema/entity/v1/entity.pb.validate.go
  gen/go/er/service/entity/v1/entity_service.pb.go
  gen/go/er/service/entity/v1/entity_service.pb.validate.go
  gen/go/er/service/entity/v1/entity_service_grpc.pb.go
  gen/node/er/schema/entity/v1/entity_grpc_pb.js
  gen/node/er/service/entity/v1/entity_service_grpc_pb.js
  gen/ts/er/schema/entity/v1/entity.ts
  gen/ts/er/service/entity/v1/entity_service.client.ts
  gen/ts/er/service/entity/v1/entity_service.ts
  gen/ts/google/protobuf/descriptor.ts
  gen/ts/google/protobuf/duration.ts
  gen/ts/google/protobuf/timestamp.ts
  gen/ts/google/type/date.ts
  gen/ts/google/type/datetime.ts
  gen/ts/google/type/latlng.ts
  gen/ts/validate/validate.ts
  go.mod
  go.sum
  go.work.sum
  service/entity/handler/entity_handler.go
  service/entity/main.go
Labels: documentation, er, workspace

chore(version): v0.1.1
  CHANGELOG.md
Labels: documentation

fix(proto): add remote buf.build
  Taskfile.yml
  buf.gen.yaml
  gen/go/er/schema/entity/v1/entity.pb.go
  gen/go/er/schema/entity/v1/entity.pb.validate.go
  gen/go/er/service/entity/v1/entity_service.pb.go
  gen/go/er/service/entity/v1/entity_service.pb.validate.go
  gen/go/er/service/entity/v1/entityv1connect/entity_service.connect.go
  gen/ts/er/schema/entity/v1/entity_pb.ts
  gen/ts/er/service/entity/v1/entity_service_connectweb.ts
  gen/ts/er/service/entity/v1/entity_service_pb.ts
  task/go.yml
  task/mod.yml
Labels: workspace

fix(proto): buf generate with --include-imports
  gen/ts/er/service/entity/v1/entity_service_connectweb.ts
  gen/ts/google/type/date_pb.ts
  gen/ts/google/type/datetime_pb.ts
  gen/ts/google/type/latlng_pb.ts
Labels: none

fix(root): add lintfix to Makefile
  Makefile
  docs/buf.md
  proto/entityapis/buf.lock
Labels: documentation

fix(proto): adding validations for proto
  Makefile
  cmd/er/go.mod
  cmd/er/go.sum
  docs/proto.md
  gen/go/er/schema/entity/v1/entity.pb.go
  gen/go/er/schema/entity/v1/entity.pb.validate.go
  go.work.sum
  proto/entityapis/er/schema/entity/v1/entity.proto
  service/entity/cors.go
  service/entity/go.mod
  service/entity/go.sum
  service/entity/main.go
Labels: documentation, er

docs(proto): fix proto docs
  docs/buf.md
  docs/grpc-web.md
  docs/prerequisites.md
  proto.md
Labels: documentation

docs(docs): adding ER docs
  README.md
  cmd/er/main.go
  docs/buf.md
  task/go.yml
Labels: documentation, er

fix(proto): adding buf java , kotlin gen
  buf.gen.yaml
Labels: none

chore(proto): update proto
  README.md
  docs/redis.md
  proto/entityapis/er/schema/entity/v1/entity.proto
  proto/entityapis/er/service/entity/v1/entity_service.proto
Labels: documentation

chore(proto): update proto
  README.md
Labels: documentation

chore(proto): generate proto code [skip ci]
  buf.gen.yaml
  docs/buf.md
  docs/redis.md
  gen/go/er/schema/entity/v1/entity.pb.go
  gen/go/er/schema/entity/v1/entity.pb.validate.go
  gen/go/er/service/entity/v1/entity_service.pb.go
  gen/go/er/service/entity/v1/entity_service.pb.validate.go
  gen/go/er/service/entity/v1/entityv1connect/entity_service.connect.go
  gen/ts/er/schema/entity/v1/entity_pb.ts
  gen/ts/er/service/entity/v1/entity_service_connectweb.ts
  gen/ts/er/service/entity/v1/entity_service_pb.ts
  proto/entityapis/er/schema/entity/v1/entity.proto
Labels: documentation

chore(proto): generate proto code [skip ci]
  proto/entityapis/buf.lock
Labels: none

.github/labeler.yml:

engine:
  - service/keying/**/*
  - change-notes/**/*engine*
documentation:
  - "**/*.md"
  - docs/**/*
er:
  - cmd/er/**/*
  - change-notes/**/*agent*
loader:
  - cmd/loader/**/*
  - change-notes/**/*tz*
demo:
  - cmd/demo/**/*
  - change-notes/**/*demo*
workspace:
  - .github/**/*
  - Dockerfile*.*
  - go.mod
  - Taskfile.yml
  - tasks/*
